/* Side Menu Bar */
.side-menu {
    height: 100%;
    background-color: #E6E6FA;
    padding: 15px;
    position: fixed;
    top: 15px;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 1;
    border-radius: 10px;
}
/* Main Content */
.main-content {
    padding: 0 15px;
    width: 85%;
    margin-left: 14%;
}
.main-content .container{
    text-align: center;
    width: 70%;
    margin-left: 15%;
    border: 1px solid #DA70D6;
    box-sizing: border-box;
    padding: 20px;
}

/* Profile Picture Upload */
.profile-pic {
    margin-left: auto;
    padding-right: 20px;
    padding-top: 10px;
}
.profile-pic p{
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    animation-name: slide-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
.profile-pic .animated {
    animation-name: bounce-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
@keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
.navbar{
    background-color: #6A5ACD;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.navbar-brand{
    position: relative;
    padding-left: 10px;
    font-weight: bold;
    font-size: 30px;
    color: aliceblue;
    animation-name: slide-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  .navbar-brand:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar-brand:hover:before {
    transform: scaleX(1);
  }
  .tutor-title a:hover{
    color: aliceblue;
  }
  
  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.nav-item{
    padding: 20px;
    font-size: 18px sans-serif;
    
    
    
}
.nav-item a{
    text-decoration: none;
}

.nav-item .nav-link{
    text-decoration: none;
    color:black;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.nav-item .nav-link:hover{
    background-color:#fff;
    transform: scale(1.2);
}
.nav-item .btn{
    margin-top: 30%;
    margin-left: 15px;
}





.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #7B68EE;
    margin: 20px;
    overflow: hidden;
    width: 750px;
    margin-left: 20%;
    margin-top: 5%;
  }
  
  .card-header {
    text-align: center;
    background-color: #B0E0E6;
    color: blueviolet;
    padding: 10px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }



  
 
  
